{% load static %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ song.title }} - {{ song.artist }}</title>
    <link rel="stylesheet" href="{% static 'songs/css/songs_style.css' %}">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>{{ song.title }}</h1>
            </div>

            <div class="card-body">
                <div class="lyrics-text">
                    «{{ song.lyrics|linebreaksbr }}»
                </div>
                <div class="song-info">
                    {{ song.artist }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
